.line {
  height: 0.5rem;
  width: 100%;
  background-color: black;
  margin-left: 10px;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 30rem;
}
.item {
  grid-column: 1 / span 2; 
  height: 12rem;
}
